{% load static %}
<!-- https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
<!DOCTYPE html> -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Shared Finances</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style type="text/css">
      
      body {
        background-color: #d5fdd5;
      }
      
      .bank {
        height:260px;
        background: transparent;
        text-align: center:
      }
      
      .title {
        font-size: 80px;
        text-align: center;
        font-family: "Montserrat";
        margin-top:-20px;
        
      }
      
      .category {
        font-size:30px;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left:20px;
        font-family: "Roboto";
      }
      
      .flex-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 60vh;
        justify-content: flex-start;
        align-items: center;
      }
      
      .box {
        width: 70%;
        height: 25%;
      }
      
      .log-box {
        font-family: "Roboto";
        font-size: 20px;
      }
      
      .btn {
        background-color: white; 
        margin-top: 20px;
      }
        
    </style>

</head>
<body>
    
<!--   <img class="bank" src = "http://www.sclance.com/pngs/piggy-bank-png/piggy_bank_png_1023807.jpg"> -->
  
  <div class = "container">
    
    <div class="row" style="margin-top:30px;" >
      <div class="col-2">
        <button class="btn plan" id = "sharedBtn"><i class="fa fa-plus" ></i> Plan Budget</button>
      </div>
      
      <div class ="col-8 title">
        Shared Finances
      </div>
      
      <div class="col-2" id="userBtn" style="margin-top:-30px;">
        <button class = "btn" style="text-align:right;"><i class="fa fa-user" ></i> Add User</button>
        <button class = "btn" style="text-align:right;"><i class="fa fa-info" ></i> Instructions</button>
      </div>
      
    </div>
    
<!--    <div class="row" style="margin-top:30px;">
      <div class="col-12" style="text-align:right;">
        <button class="btn"><i class="fa fa-check" ></i> Finalize Budget</button>
      </div>
    </div> -->

    <hr>
    
    <div class="flex-container">

        <div class="category box food-div">
         <i class="fa fa-cutlery" aria-hidden="true"></i>
          Food: $
<!--           <input type="text" name="food-amount" id="food-amount">   -->
        </div>
        <div class="category box act-div">
          <i class="fa fa-bicycle" aria-hidden="true"></i>
          Activities: $
<!--           <input type="text" name="act-amount" id="act-amount">   -->
        </div>
        <div class="category box tra-div">
          <i class="fa fa-subway" aria-hidden="true"></i>
          Transportation: $
<!--           <input type="text" name="tra-amount" id="tra-amount">  -->
        </div>
        <div class="category box misc-div">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            Misc: $          
<!--             <input type="text" name="misc-amount" id="misc-amount">  -->
        </div>
      

        <div id="total-budget" class ="box">
        </div>
      
  </div>
    <div class="container" id ="transbtn" style = "margin-top:-55px;">
    </div>
   <hr>
     
  <div class="container" id="log" style="padding-top:30px;">
 
  </div>
      
  <div id = "submitForm">
          <form> 
            Category:<br>
            <select name="Category" id="category" size="4">
              <option value="Food">Food</option>
              <option value="Activities">Activities</option>
              <option value="Transportation">Transportation</option>
              <option value="Misc">Misc.</option></select>
            <br>Amount:<br>
            <input type="text" name="amount" id="amount"> <br><br> 
            <div id ="submit" value="Submit"> Submit </div>
          </form>
   </div>
  
</body>
  
  
<script>  
  
   $(document).ready(()=>{
     
     var url = window.location.href;
     
    
     var catgories = ["Food", "Activities", "Transportation", "Misc."];
     // list of users
      // creates a  random user 
     var users = ["Alice","Bob", "Eve", "Jack", "Jill", "Carl", "Josh"];
     var user = users[Math.trunc(Math.random()*users.length)];
                                 
     var url_large = "http://sharedfinances-hchotwani921366.codeanyapp.com/draw/?size=large";
     var socket = new WebSocket('wss://sharedFinances-hchotwani921366.codeanyapp.com/ws/draw');
     
     document.getElementById("submit").onclick = function() {sendInfo()};

    function sendInfo() {
      //amount
      var amt = document.getElementById("amount").value;
      
      //category
      var e = document.getElementById("category");
      var value = e.options[e.selectedIndex].value;
      var text = e.options[e.selectedIndex].text;
      
      console.log(value);
      console.log(amt);
      
      //send Info
      var info = {"user": user, "amount": amt, "category":value};
      var infoJSON = JSON.stringify(info);
      socket.send(infoJSON);
      
      //confirmation of action                 
      alert("you have submitted your purchase!");                 
    };
     
     
     socket.onmessage = function(message) {
       var info = JSON.parse(message.data);
       if (url===url_large) {
         $("#log").append("<div class='row log-box'><div class='col-12'>" + info.user + " spent $" + info.amount + " on "+ info.category + "</div></div>");
         console.log(info.amount);
         console.log(info.category);
       } else {
         console.log("did not do anything with the message!!");
       }
     }
     
     // code for large screen
     if (url === url_large) {
         $("#submitForm").hide(0.000001);
         $(".plan").on('click', () => {
           // clear texts
           $('.food-div').empty();
           $('.act-div').empty();
           $('.tra-div').empty();
           $('.misc-div').empty();
           // add new texts with input option
           $('.food-div').append('<i class="fa fa-cutlery" aria-hidden="true"></i> Food: $ <input type="text" name="food-amount" id="food-amount">');
           $('.act-div').append('<i class="fa fa-bicycle" aria-hidden="true"></i> Activities: $ <input type="text" name="act-amount" id="act-amount">');
           $('.tra-div').append('<i class="fa fa-subway" aria-hidden="true"></i> Transportation: $ <input type="text" name="tra-amount" id="tra-amount">');
           $('.misc-div').append('<i class="fa fa-ellipsis-h" aria-hidden="true"></i> Misc: $ <input type="text" name="misc-amount" id="misc-amount">');
           
           // adding finalize button here
           $('#transbtn').append('<div class="row" style="margin-top:30px;"> <div class="col-12" style="text-align:right;"><button class="btn finalize-btn"><i class="fa fa-check" ></i> Finalize Budget</button></div></div>');

         });
       
         var food_amt = $('#food-amount').val();
         console.log(food_amt); 
           // finalize button functionality
           $('.finalize-button').on('click()', () =>{
             console.log("recognized click");
             $('.food-div').empty();
             $('.food-div').append('<i class="fa fa-cutlery" aria-hidden="true"></i> Food: $' + food_amt);
           })
       
          
     }
     
     // code for small screens
     if (url !== url_large) {
         $("#userBtn").hide(0.000001);
         $("#sharedBtn").hide(0.000001);
     }
  
  
   })
  
</script>
</html>