{% load static %}
<!-- https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
<!DOCTYPE html> -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Shared Finances</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'app.js' %}"> </script>

</head>
<body>
  
   <div class = "container hello1">
    <div class = "row">
      <div class = "col-12">
        <a>Track Purchase</a>
      </div>
    </div>
  </div>


  
  <div class = "container hello">
    <div class = "row">
      <div class = "col-12">
        <a>Hello!</a>
      </div>
    </div>
  </div>
  
    <div class = "container hello" style = "margin-top: 100px;">
    <div class = "row">
      <div class = "col-12" style="font-size:70px;">
        <a>Welcome to <br> <a style = "font-size:100px;">Shared Finances</a> <br></a>
      </div>
    </div>
  </div>
  
    <div class = "container hello" style = "margin-top: 90px;">
    <div class = "row">
      <div class = "col-12" style = "font-size:70px;">
        <a>What is your name?</a>
      </div>
    </div>
  </div>
  
    <div class = "container hello" style = "margin-top: 90px;">
    <div class = "row">
      <div class = "col-12">
        <input id = "username" name="username" type="text" style="text-align: center; width:80%; height: 100px;font-size: 60px;" ></input>
      </div>
    </div>
  </div>
  
 <div class = "container hello" style = "margin-top: 90px; text-align: center; width: 200px; background-color: lightgrey;">
    <div class = "row">
      <div class = "col-12" id = "homedone" style = "font-size:50px;">
        <a>Enter</a>
      </div>
    </div>
  </div>
  
  <div class = "container">
    
    <div class="row" style="margin-top:30px;" >
      <div class="col-1">
        <button class="btn plan-btn" style =" border-radius:15px; box-shadow: 2px 3px;"><i class="fa fa-plus" ></i> Plan Budget</button>
      </div>
      
      <div class ="col-10 title">
        Shared Finances
      </div>
      
      <div class="col-1 userBtn" style="margin-top:-30px;">
        <button  class = "btn" style="text-align:right; border-radius:15px; box-shadow: 2px 3px;" id="userbtn"><i class="fa fa-group" ></i> Users</button>
        <button  class = "btn" style="text-align:right; cursor:help; border-radius:15px; box-shadow: 2px 3px;" id = "inst"><i class="fa fa-info" ></i> Instructions</button>
        
                      <div id="myInstModal" class="modal">
                                  <div class="modal-content">
                                    <span class="close" id="close1">&times;</span>
                                      <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 instBox" style="margin-bottom:20px;">
                                                Instructions:
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-12" style="text-align: left; font-size:20px;">
                                                i will put these in later but wow i finally found this stupid bug
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                            </div>
        
                     <div id="myUserModal" class="modal">
                                  <div class="modal-content">
                                    <span class="close" id="close2">&times;</span>
                                      <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 userBox" style="margin-bottom:20px;">
                                                In order to make sure we are doing our absolute best to keep your financial information confidential, we have made your budget private. 
                                                As of right now, the only people who are able to use this plan include:
                                                <br><br>Julianna White and Himanshu Chotwani<br>
                                                <br> If you'd like to add another user to your shared budget plan, please do so <a href="">here</a>.
<!--                                                 fyi -- link doesn't work    -->
<!--                                                       note to self: make it so i actually get these values from the dictionary ? -->
                                          </div>
                                            
                                        </div>
                                      </div>
                                  </div>
                            </div>
      </div>
      
    </div>
    
   

    <hr>
    
    <div class="flex-container" >

        <div class="category box food-div" >
         <i class="fa fa-cutlery" aria-hidden="true"></i>
          Food: $
          <input class = "input-for-amounts" type="text" name="food-amount" id="food-amount">
        </div>
        <div class="category box act-div">
          <i class="fa fa-bicycle" aria-hidden="true"></i>
          Activities: $
          <input class = "input-for-amounts" type="text" name="act-amount" id="act-amount">
        </div>
        <div class="category box tra-div">
          <i class="fa fa-subway" aria-hidden="true"></i>
          Transportation: $
          <input class = "input-for-amounts" type="text" name="tra-amount" id="tra-amount">
        </div>
        <div class="category box misc-div">
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          Misc: $
          <input class = "input-for-amounts" type="text" name="misc-amount" id="misc-amount">
        </div>
      

        <div id="total-budget" class ="box">
        </div>
      
  </div>
   <div class="row" style="margin-top:30px;">
      <div class="col-12" style="text-align:right;">
        <button class="btn finalize-btn"><i class="fa fa-check" ></i> Finalize Budget</button>
      </div>
    </div>
     
  <div class="container" id="log" style="padding-top:30px;">
    <hr style="margin-top:-70px;">

 
  </div>
      
  <div id = "submitForm" style="text-align: center;">
          <form > 
            <div style=" font-size: 80px; font-family:'Montserrat'; background-color: white; margin-bottom: 70px;">
              Category:<br>
            </div>
            
            <select class = "form" name="Category" id="category" size="4" style = "margin-bottom:30px; width: 600px; ">
              <option value="Food">Food</option>
              <option value="Activities">Activities</option>
              <option value="Transportation">Transportation</option>
              <option value="Misc">Misc.</option></select>
            <br>
            <div style=" font-size: 80px; font-family:'Montserrat'; background-color: white; margin-bottom: 50px; margin-top: 50px;">
              Amount:
            </div>
            <input type="text" name="amount" id="amount" style="width:100%; height: 120px; font-size: 50px; margin-bottom:70px;"> 
            <div id ="submit" value="Submit" style="text-align: center;"> Submit </div>
          </form>
   </div>
  
</body>
  
</html>